body{
    font-size: 20px;
    font-family: monospace;
    background-color: bisque;
}

.container{
    margin-left : 20px ;
    padding-left: 20px;
    background-color: lightblue;
    height:auto;
    width : 900px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
    
header {
text-align: center;
padding-top: 50px;
}
h1{
  text-align: center;
  font-size: 0px;
  font-weight: lighter;
}
#card{
  margin-left : 60px ;

  
}

#input{
  margin-left : 40px ;
  padding-top: 50px;
}

#backWeather{
margin-left: 42%;
text-align: center;

}
.lead{
  text-align: center;
  text-decoration: lightseagreen;
}