body{
    font-size: 20px;
    font-family: monospace;
    background-color: bisque;
}

.container{
    margin-left : 20px ;
    padding-left: 20px;
    background-color: rgb(204, 233, 243);
    height:auto;
    width : 900px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
    
header,h1{

background-image: url("./img/cloud-blue-sky.png");
background-size: 1200px 167px;
background-color: rgb(34, 127, 248);
font-size: 20px;
color: black;
text-align: center;
background-repeat: no-repeat;

padding: 5px;
}
p{
  font-weight: bolder ;
}


 h2{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
#card{
  margin-left :8%;
  margin-right: auto;
padding-bottom: 5%;

  
}

#input{
  margin-left : auto;
  margin-right: auto;
  padding-top: 10px;
}
@media (min-width: 570px) {  
  
#backWeather{
margin-left:42%;

text-align: center;

}

 
  .input {
  	margin-left: 20%
  }
}


#main{
  padding-top: 40px;
 
  text-align: center;
  text-decoration: lightseagreen;
}
li{
text-align: left;
}